@import '../../styles/theme.module.scss';

.note {
  position: absolute;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 120px;
  box-shadow: $shadow-1;
  font-size: $font-size-1;
  padding: 7px;
  border-radius: 5px;

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
  }

  .username {
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: 2px 5px;
    border-radius: 10px;
    font-size: $font-size-0;
  }
}
