@import '../../styles/theme.module.scss';

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
  padding-top: 30vh;
  background-image: url(https://i.stack.imgur.com/f42ba.gif);
}
