@import '../../styles/theme.module.scss';

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 350px);
  padding: 20px;

  p {
    font-size: $font-size-3;
    font-family: $font-fugaz;
  }

  button {
    background-color: $main-color;
  }
}
