@import '../../styles/theme.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.container {
  position: relative;
  background-color: $light-blue;

  .historyModeMessage {
    padding: 10px 20px;
    font-size: $font-size-2;
    font-family: $font-fugaz;
  }

  .note {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;

    .noteInput {
      width: 180px;
      height: 180px;
      padding: 10px;
      border: 1px solid $gray;
      resize: none;
      outline: none;
      font-size: $font-size-2;
      font-family: 'Open Sans';
      transition: transform .2s ease-in-out;
      box-shadow: $shadow-1;

      &:focus {
        transform: scale(1.5);
      }
    }

    button {
      position: absolute;
      top: 95%;
      left: 50%;
      margin: 0;
      padding: 5px 10px;
      transform: translateX(-50%);
    }
  }
}
