@import '../../styles/theme.module.scss';

.container {
  padding: 15px;

  .welcomeMessage {
    display: flex;
    flex-direction: column;
    font-size: $font-size-1;
    font-weight: 500;

    button {
      align-self: flex-end;
      margin: 10px 0;
      background-color: $base-color;
      color: $main-color;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      justify-content: space-between;
    }
  }
}
