@import './theme.module.scss';

:global {
  #root {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
