@import '../../styles/theme.module.scss';

.headerModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .modalOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }

  .modalContents {
    position: fixed;
    top: 70px;
    right: 15px;
    width: 25vw;
    background-color: $white;
    box-shadow: $shadow-1;
  }
}

.alertModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .modalOverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modalContents {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 30vw;
    border-radius: 5px;
    background-color: $white;
  }
}
