@import '../../styles/theme.module.scss';

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background-color: $white;
  box-shadow: $shadow-4;
  z-index: 3;

  .logo {
    font-family: $font-fugaz;
    font-size: $font-size-3;
    color: $main-color;
  }

  .buttonContainer {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      border-radius: 50%;
      box-shadow: $shadow-3;
    }
  }
}

.children {
  padding-top: 50px;
}
