@import '../../styles/theme.module.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 15px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: $main-color;
      font-size: $font-size-1;
      text-transform: uppercase;
    }

    button {
      background-color: $base-color;
      color: $main-color;
    }
  }

  .timeTravel {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    .versionContainer {
      height: 100px;
      padding: 10px;
      background-color: $base-color;
      overflow-y: scroll;

      .version {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        border-bottom: 1px solid $gray;

        span:first-child {
          font-size: $font-size-1;
          font-weight: 600;
        }
        span:last-child {
          align-self: flex-start;
          font-size: $font-size-0;
          font-weight: 400;
        }

        &:hover {
          background-color: $main-color;
          color: $white;
        }
      }
    }

    .controller {
      display: flex;
      justify-content: space-between;

      button {
        width: 33%;
        margin: 0;
        padding: 0;
      }

      button:last-child {
        background-color: $yellow;
        color: $black;
      }
    }
  }
}

.modalContents {
  display: flex;
  flex-direction: column;
  padding: 20px;

  h3 {
    width: 30%;
    padding: 5px 0;
    border-radius: 15px;
    font-size: $font-size-2;
    text-transform: uppercase;
  }

  p {
    margin: 10px 0;
    font-size: $font-size-1;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;

    button:first-child {
      background-color: $yellow;
      color: $black;
    }

    button:last-child {
      background-color: $gray;
      color: $black;
    }
  }
}
