@import '../../styles/theme.module.scss';

.container {
  display: flex;
  flex-direction: column;
  min-height: calc((100vh - 70px) / 2);
  padding: 20px 0 40px;
  border-bottom: 1px solid $gray;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $font-fugaz;

    h3 {
      margin-right: 5px;
      font-size: $font-size-3;
    }
  }

  .contents {
    .noItem {
      display: flex;
      justify-content: center;
      padding-top: 10vh;
      font-size: $font-size-5;
      font-weight: 600;
      text-transform: uppercase;
    }

    .itemList {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
      grid-gap: 16px;
      justify-content: center;
      padding: initial;
    }
  }
}
