@import '../../styles/theme.module.scss';

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  padding: 10px 20px 30px;
  background-color: $base-color;

  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: $font-fugaz;
    margin-right: 5px;
    font-size: $font-size-2;
  }

  .noItem {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
    font-size: $font-size-5;
    font-weight: 600;
    text-transform: uppercase;
  }

  .itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 16px;
    justify-content: center;
    padding: initial;
  }
}
